/*
Blue Theme color:
#007ACC - Main
#007ACC - Hover
#004B7E - Pressed

#232323 - Background color scroll area /pulldown menu bg color
#323232 - Background color (base)
#444444 - Disabled color
#4A4A4A - Disabled text
#3C3C3C - widget color (Buttons etc)
#7C7C7C - hover color
#505050 - border color/select
#7C7C7C - scroll color
#969696 - scroll hover
#C5C5C5 - scroll select
#B1B1B1 - text color - not using so far
#000000 - black
#FFFFFF - white

############################################
List of customized QObjects:
QWidget
QFrame
QLabel
QListView
QTreeView
QTableView TODO
QHeaderView TODO
QAbstractItemView TODO
QGroupBox
QAbstractSpinBox
QMenuBar
QMenu TODO
QLineEdit
QPushButton
QToolButton
QComboBox
QScrollBar
QDockWidget
QMainWindow
QProgressBar
QTabWidget
QTabBar
QCheckBox
QRadioButton
QSlider
QToolBar
QToolBox
QToolTip
QStatusBar
QSplitter TODO
QSizeGrip TODO
QTextEdit
QPlainTextEdit
*/

/*
Custom named stuff below:
*/

QWidget#scrollAreaWidgetContents
{
    background-color: #232323;
}

QScrollArea#scrollArea
{
    background-color: #323232;
}

/*
End Custom named stuff above:
*/

QWidget
{
    color: #FFFFFF;
    background-color: #3C3C3C;
}

QWidget::item:hover
{
    background-color: #7C7C7C;
}

QWidget::item:selected
{
    background-color: #505050;
}

QWidget:focus
{
    border: 1px solid #007ACC;
}

QWidget:disabled
{
    color: #4A4A4A;
    background-color: #444444;
    border: 1px;
    border-style: solid;
    border-color: #444444;
}

QFrame
{
    border: 1px;
    border-style: solid;
    border-color: #505050;
    margin-top: 1ex;
}

QLabel
{
    border: 0px;
    background-color: transparent;
}

QListView::indicator
{
    background-color: #3C3C3C;
    border: 1px solid #505050;
}

QListView::indicator:hover
{
    background-color: #3C3C3C;
    border: 1px solid #007ACC;
}

QListView::indicator:checked
{
    background-color: #007ACC;
    border: 1px solid #505050;
}

QListView::indicator:pressed
{
    background-color: #004B7E;
    border: 1px solid #007ACC;
}

QListView::indicator:disabled
{
    background-color: transparent;
    border: 1px solid #4A4A4A;
}

QListView::indicator:checked:hover
{
    background-color: #007ACC;
    border: 1px solid #007ACC;
}

QListView::indicator:checked:pressed
{
    background-color: #004B7E;
    border: 1px solid #007ACC;
}

QTreeView::indicator
{
    background-color: #3C3C3C;
    border: 1px solid #505050;
}

QTreeView::indicator:hover
{
    background-color: #3C3C3C;
    border: 1px solid #007ACC;
}

QTreeView::indicator:checked
{
    background-color: #007ACC;
    border: 1px solid #505050;
}

QTreeView::indicator:pressed
{
    background-color: #004B7E;
    border: 1px solid #007ACC;
}

QTreeView::indicator:disabled
{
    background-color: transparent;
    border: 1px solid #4A4A4A;
}

QTreeView::indicator:checked:hover
{
    background-color: #007ACC;
    border: 1px solid #007ACC;
}

QTreeView::indicator:checked:pressed
{
    background-color: #004B7E;
    border: 1px solid #007ACC;
}

QTableView::focus
{
    color: #007ACC;
}

QTableView QTableCornerButton::section
{
    background: #7C7C7C;
    border: 1px solid #505050;
}

QTableView QTableCornerButton::section:pressed
{
    background: #007ACC;
    border: 1px solid #505050;
}

QHeaderView::section
{
    background-color: #3C3C3C;
    padding: 2px 4px 2px 4px;
    border: 0px;
}

QAbstractItemView
{
    background-color: #3C3C3C;
}

QGroupBox
{
    border: 1px;
    border-style: solid;
    border-color: #505050;
    margin-top: 10;
}

QGroupBox::title
{
    background-color: transparent;
    subcontrol-origin: margin;
    subcontrol-position: top left;
    padding: 2 10px;
}

QGroupBox::indicator
{
    background-color: #3C3C3C;
    border: 1px solid #505050;
    width: 9px;
    height: 9px;
}

QGroupBox::indicator:hover
{
    background-color: #3C3C3C;
    border: 1px solid #007ACC;
    width: 9px;
    height: 9px;
}

QGroupBox::indicator:checked
{
    background-color: #007ACC;
    border: 1px solid #505050;
    width: 9px;
    height: 9px;
}

QGroupBox::indicator:pressed
{
    background-color: #004B7E;
    border: 1px solid #007ACC;
    width: 9px;
    height: 9px;
}

QGroupBox::indicator:checked:hover
{
    background-color: #007ACC;
    border: 1px solid #007ACC;
    width: 9px;
    height: 9px;
}

QGroupBox::indicator:checked:pressed
{
    background-color: #004B7E;
    border: 1px solid #007ACC;
    width: 9px;
    height: 9px;
}

QGroupBox:focus
{
    border: 1px solid #007ACC;
}

QAbstractSpinBox
{
    background-color: #3C3C3C;
    border: 1px;
    border-style: solid;
    border-color: #505050;
}

QAbstractSpinBox::disabled
{
    background-color: #444444;
    border: 1px;
    border-style: solid;
    border-color: #444444;
}

QAbstractSpinBox::up-button, QAbstractSpinBox::down-button
{

    background-color: #3C3C3C;
    border: 0px;
}

QAbstractSpinBox::up-button:disabled, QAbstractSpinBox::down-button:disabled
{

    background-color: #444444;
    border: 0px;
}

QAbstractSpinBox::up-arrow
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/cb_up_arrow.png");
    width: 5px;
    height: 5px;
}

QAbstractSpinBox::up-arrow:hover
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/cb_up_arrow_hover.png");
    width: 5px;
    height: 5px;
}

QAbstractSpinBox::up-arrow:pressed
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/cb_up_arrow_pressed.png");
    width: 5px;
    height: 5px;
}

QAbstractSpinBox::up-arrow:disabled
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/cb_up_arrow_disabled.png");
    width: 5px;
    height: 5px;
}

QAbstractSpinBox::down-arrow
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/cb_down_arrow.png");
    width: 5px;
    height: 5px;
}

QAbstractSpinBox::down-arrow:hover
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/cb_down_arrow_hover.png");
    width: 5px;
    height: 5px;
}

QAbstractSpinBox::down-arrow:pressed
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/cb_down_arrow_pressed.png");
    width: 5px;
    height: 5px;
}

QAbstractSpinBox::down-arrow:disabled
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/cb_down_arrow_disabled.png");
    width: 5px;
    height: 5px;
}

QMenuBar::item
{
    background: transparent;
}

QMenuBar::item:selected
{
    background-color: #505050;
}

QMenuBar::item:pressed
{
    background-color: #007ACC;
}

QMenu
{
    background-color: white;
}

QMenu:item
{
    padding: 2px 20px 2px 20px;
}

QMenu::item:selected
{
    color: #000000;
}

QMenu::item:hover
{
    color: #7C7C7C;
}

QMenu::separator
{
    height: 1px;
    background-color: #505050;
    padding-left: 4px;
    margin-left: 10px;
    margin-right: 0px;
}

QLineEdit
{
    background-color: #3C3C3C;
    padding: 1px;
    border-style: solid;
    border: 1px solid #505050;
}

QPushButton
{
    background-color: #3C3C3C;
    border-width: 1px;
    border-style: solid;
    border-color: #505050;
    padding: 2;
}

QPushButton:hover
{
    background-color: #7C7C7C;
}

QPushButton:pressed
{
    background-color: #007ACC;
}

QPushButton:checked
{
    background-color: #007ACC;
}

QToolButton
{
    background-color: #3C3C3C;
    border-width: 1px;
    border-style: solid;
    border-color: #505050;
    padding: 2;
}

QToolButton:hover
{
    background-color: #7C7C7C;
}

QToolButton:pressed
{
    background-color: #007ACC;
}

QToolButton:checked
{
    background-color: #007ACC;
}

QComboBox
{
    background-color: #3C3C3C;
    image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/qb_down_arrow.png");
    image-position: right;
    padding: 2px 4px 2px 4px;
    border-style: solid;
    border: 1px solid #505050;
}

QComboBox:hover
{
    background-color: #7C7C7C;
    image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/qb_down_arrow_hover.png");
    image-position: right;
    padding: 2px 4px 2px 4px;
}

QComboBox:disabled
{
    image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/qb_down_arrow_disabled.png");
    image-position: right;
    padding: 2px 4px 2px 4px;
}

QComboBox:on
{
    background-color: #007ACC;
    image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/qb_down_arrow.png");
    image-position: right;
    padding: 2px 4px 2px 4px;
}

QComboBox::drop-down
{
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 10px;
    border-left-width: 0px;
}

QScrollBar:horizontal
{
    background: #323232;
    height: 18px;
    margin: 0px 16px 0px 16px;
}

QScrollBar::handle:horizontal
{
    background: #7C7C7C;
    margin: 5px 0px 5px 0px
}

QScrollBar::handle:horizontal:hover
{
    background: #969696;
    margin: 5px 0px 5px 0px
}

QScrollBar::handle:horizontal:pressed
{
    background: #C5C5C5;
    margin: 5px 0px 5px 0px
}

QScrollBar::handle:horizontal:disabled
{
    background: transparent;
    margin: 5px 0px 5px 0px
}

QScrollBar::add-line:horizontal
{
    background: #323232;
    width: 16px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal
{
    background: #323232;
    width: 16px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::left-arrow:horizontal
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/sb_horizontal_left_arrow.png");
    width: 10px;
    height: 10px;
    position: center;
}

QScrollBar::left-arrow:horizontal:hover
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/sb_horizontal_left_arrow_hover.png");
    width: 10px;
    height: 10px;
    position: center;
}

QScrollBar::left-arrow:horizontal:pressed
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/sb_horizontal_left_arrow_pressed.png");
    width: 10px;
    height: 10px;
    position: center;
}

QScrollBar::left-arrow:horizontal:disabled
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/sb_horizontal_left_arrow_disabled.png");
    width: 10px;
    height: 10px;
    position: center;
}

QScrollBar::right-arrow:horizontal
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/sb_horizontal_right_arrow.png");
    width: 10px;
    height: 10px;
    position: center;
}

QScrollBar::right-arrow:horizontal:hover
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/sb_horizontal_right_arrow_hover.png");
    width: 10px;
    height: 10px;
    position: center;
}

QScrollBar::right-arrow:horizontal:pressed
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/sb_horizontal_right_arrow_pressed.png");
    width: 10px;
    height: 10px;
    position: center;
}

QScrollBar::right-arrow:horizontal:disabled
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/sb_horizontal_right_arrow_disabled.png");
    width: 10px;
    height: 10px;
    position: center;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal
{
      background: none;
}

QScrollBar:vertical
{
    background: #323232;
    width: 18px;
    margin: 16px 0 16px 0;
}

QScrollBar::handle:vertical
{
    background: #7C7C7C;
    margin: 0px 5px 0px 5px
}

QScrollBar::handle:vertical:hover
{
    background: #969696;
    margin: 0px 5px 0px 5px
}

QScrollBar::handle:vertical:pressed
{
    background: #C5C5C5;
    margin: 0px 5px 0px 5px
}

QScrollBar::handle:vertical:disabled
{
    background: transparent;
    margin: 0px 5px 0px 5px
}

QScrollBar::add-line:vertical
{
    background: #323232;
    height: 16px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical
{
    background: #323232;
    height: 16px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::down-arrow:vertical
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/sb_vertical_down_arrow.png");
    width: 10px;
    height: 10px;
    position: center;
}

QScrollBar::down-arrow:vertical:hover
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/sb_vertical_down_arrow_hover.png");
    width: 10px;
    height: 10px;
    position: center;
}

QScrollBar::down-arrow:vertical:disabled
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/sb_vertical_down_arrow_disabled.png");
    width: 10px;
    height: 10px;
    position: center;
}

QScrollBar::up-arrow:vertical
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/sb_vertical_up_arrow.png");
    width: 10px;
    height: 10px;
    position: center;
}

QScrollBar::up-arrow:vertical:hover
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/sb_vertical_up_arrow_hover.png");
    width: 10px;
    height: 10px;
    position: center;
}

QScrollBar::up-arrow:vertical:pressed
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/sb_vertical_up_arrow_pressed.png");
    width: 10px;
    height: 10px;
    position: center;
}

QScrollBar::up-arrow:vertical:disabled
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/sb_vertical_up_arrow_disabled.png");
    width: 10px;
    height: 10px;
    position: center;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical
{
    background: none;
}

QDockWidget
{
    border: 0px;
    border-color: #505050;
}

QDockWidget::title
{
    text-align: left;
    spacing: 3px;
    background-color: #323232;
    padding-left: 4px;
}

QDockWidget::close-button, QDockWidget::float-button
{
    spacing: 3px;
    background-color: #3C3C3C;
}

QDockWidget::close-button:hover, QDockWidget::float-button:hover
{
    background-color: #3C3C3C;
    border: 0px;
}

QDockWidget::close-button:pressed, QDockWidget::float-button:pressed
{
    background-color: #007ACC;
}

QMainWindow::separator
{
    color: #505050;
    padding-left: 4px;
    border: 1px solid #505050;
    spacing: 3px;
}

QMainWindow::separator:hover
{
    background-color: #007ACC;
    padding-left: 4px;
    border: 1px solid #505050;
    spacing: 3px;
}

QProgressBar
{
    border: 1px solid #505050;
    text-align: center;
}

QProgressBar::chunk
{
    background-color: #007ACC;
    width: 2.15px;
    margin: 0.5px;
}

QTabWidget::pane
{
    margin: -4px 0px 0px 0px;
}

QTabWidget::tab-bar
{
    left: 0px;
}

QTabBar:focus
{
    border: 0px;
}

QTabBar:disabled
{
    border: 0px;
    background-color: transparent;
}

QTabBar::tab:!selected:disabled
{
    border-color: #444444;
}

QTabBar::tab:selected:disabled
{
    color: #4A4A4A;
    background-color: #444444;
    border-color: #444444;
}

QTabBar::tab
{
    background: transparent;
    border: 1px solid #505050;
    border-bottom-color: #3C3C3C;
    min-width: 8ex;
    padding-left: 8px;
    padding-right: 8px;
}

QTabBar::tab:hover
{
    background-color: #7C7C7C;
}

QTabBar::tab:selected
{
    color: #007ACC;
    background-color: #3C3C3C;
    border-color: #505050;
    border-bottom-color: #3C3C3C;
    margin-left: 0px;
    margin-right: 0px;
}

QTabBar::tab:!selected
{
    border-color: #505050;
    margin-top: 2px;
}

QCheckBox:disabled
{
    background-color: transparent;
    border: 0px;
}

QCheckBox:focus
{
    background-color: transparent;
    border: 0px;
}

QCheckBox::indicator
{
    background-color: #3C3C3C;
    border: 1px solid #505050;
    width: 9px;
    height: 9px;
}

QCheckBox::indicator:hover
{
    background-color: #3C3C3C;
    border: 1px solid #007ACC;
    width: 9px;
    height: 9px;
}

QCheckBox::indicator:checked
{
    background-color: #007ACC;
    border: 1px solid #505050;
    width: 9px;
    height: 9px;
}

QCheckBox::indicator:pressed
{
    background-color: #004B7E;
    border: 1px solid #007ACC;
    width: 9px;
    height: 9px;
}

QCheckBox::indicator:disabled
{
    background-color: transparent;
    border: 1px solid #4A4A4A;
    width: 9px;
    height: 9px;
}

QCheckBox::indicator:checked:hover
{
    background-color: #007ACC;
    border: 1px solid #007ACC;
    width: 9px;
    height: 9px;
}

QCheckBox::indicator:checked:pressed
{
    background-color: #004B7E;
    border: 1px solid #007ACC;
    width: 9px;
    height: 9px;
}

QRadioButton:focus
{
    background-color: transparent;
    border: 0px;
}

QRadioButton:disabled
{
    background-color: transparent;
    border: 0px;
}

QRadioButton::indicator
{
    background-color: #3C3C3C;
    border: 1px solid #505050;
    border-radius: 6px;
}

QRadioButton::indicator:hover
{
    background-color: #3C3C3C;
    border: 1px solid #007ACC;
    border-radius: 6px;
}

QRadioButton::indicator:checked
{
    background-color: #007ACC;
    border: 1px solid #505050;
    border-radius: 6px;
}

QRadioButton::indicator:pressed
{
    background-color: #004B7E;
    border: 1px solid #007ACC;
    border-radius: 6px;
}

QRadioButton::indicator:disabled
{
    background-color: transparent;
    border: 1px solid #4A4A4A;
    border-radius: 6px;
}

QRadioButton::indicator:checked:hover
{
    background-color: #007ACC;
    border: 1px solid #007ACC;
    border-radius: 6px;
}

QRadioButton::indicator:checked:pressed
{
    background-color: #004B7E;
    border: 1px solid #007ACC;
    border-radius: 6px;
}

QSlider::horizontal:focus
{
    border: 0px;
}

QSlider::groove:horizontal
{
    border: 0px;
    background: #505050;
    height: 2px;
}

QSlider::handle:horizontal
{
    background-color: #7C7C7C;
    border: 1px solid #505050;
    width: 8px;
    margin-top: -7px;
    margin-bottom: -7px;
}

QSlider::handle:horizontal:hover
{
    background-color: #969696;
    border: 1px solid #505050;
    width: 8px;
    margin-top: -7px;
    margin-bottom: -7px;
}

QSlider::handle:horizontal:pressed
{
    background-color: #007ACC;
    border: 1px solid #505050;
    width: 8px;
    margin-top: -7px;
    margin-bottom: -7px;
}

QSlider::horizontal:disabled
{
    border: 0px;
    background-color: transparent;
}

QSlider::groove:horizontal:disabled
{
    border: 0px;
    background: #444444;
    height: 2px;
}

QSlider::handle:horizontal:disabled
{
    background-color: #444444;
    border: 1px solid #444444;
    width: 8px;
    margin-top: -7px;
    margin-bottom: -7px;
}

QSlider::vertical:focus
{
    border: 0px;
}

QSlider::groove:vertical
{
    border: 0px;
    background: #505050;
    width: 2px;
}

QSlider::handle:vertical
{
    background-color: #7C7C7C;
    border: 1px solid #505050;
    height: 8px;
    margin-left: -7px;
    margin-right: -7px;
}

QSlider::handle:vertical:hover
{
    background-color: #969696;
    border: 1px solid #505050;
    height: 8px;
    margin-left: -7px;
    margin-right: -7px;
}

QSlider::handle:vertical:pressed
{
    background-color: #007ACC;
    border: 1px solid #505050;
    height: 8px;
    margin-left: -7px;
    margin-right: -7px;
}

QSlider::vertical:disabled
{
    border: 0px;
    background-color: transparent;
}

QSlider::groove:vertical:disabled
{
    border: 0px;
    background: #444444;
    width: 2px;
}

QSlider::handle:vertical:disabled
{
    background-color: #444444;
    border: 1px solid #444444;
    height: 8px;
    margin-left: -7px;
    margin-right: -7px;
}

QToolBar
{
    background: transparent;
    spacing: 3px;
    padding: 4px;
}

QToolBar:handle
{

}

QToolBox::tab
{
    border: 1px solid #505050;
}

QToolBox::tab:hover
{
    border: 1px solid #007ACC;
}

QToolBox::tab:selected
{
    border: 1px solid #505050;
    font: italic;
}

QToolBox::tab:selected:hover
{
    border: 1px solid #505050;
    font: italic;
    color: #007ACC;
}

QToolTip
{
    color: white;
    border: 1px;
    border-style: solid;
    border-color: #505050;
    background-color: #007ACC;
}

QStatusBar
{

}

ViewSplitter
{

}

ViewSplitter::handle
{

}

QSizeGrip
{

}

QTextEdit
{
    background-color: #323232;
}

QPlainTextEdit
{
    background-color: #323232;
}