/*
        #007ACC - Pink select color  #007ACC 
Blue Theme color:
#007ACC - Main
#007ACC - Hover
#004B7E - Pressed

#232323 - Background color scroll area /pulldown menu bg color
#323232 - Background color (base)
#444444 - Disabled color
#4A4A4A - Disabled text
#3C3C3C - widget color (Buttons etc)
#7C7C7C - hover color
#505050 - border color/select
#7C7C7C - scroll color
#969696 - scroll hover
#C5C5C5 - scroll select
#B1B1B1 - text color - not using so far
#000000 - black
#FFFFFF - white

*/

/*
Custom named stuff below:
*/

QWidget#scrollAreaWidgetContents
{
    background-color: #232323;
}

QScrollArea#scrollArea
{
    background-color: #323232;
}

/*
Custom named stuff above:
*/

QWidget
{
    color: #FFFFFF;
    background-color: #3C3C3C;
}

QWidget:item:hover
{
    background-color: #7C7C7C;
    color: #000000;
}

QWidget:item:selected
{
    background-color: #505050;
}

QWidget:focus
{
    border: 1px solid #007ACC;
}

QWidget:disabled
{
    color: #4A4A4A;
    background-color: #444444;
    border: 1px;
    border-style: solid;
    border-color: #444444;
}

QFrame
{
    border: 1px;
    border-style: solid;
    border-color: #505050;
    margin-top: 1ex;
}

QLabel
{
    border: 0px;
    background-color: transparent;
}


QGroupBox
{
    border: 1px;
    border-style: solid;
    border-color: #505050;
    margin-top: 10;
}

QGroupBox::title
{
    background-color: transparent;
    subcontrol-origin: margin;
    subcontrol-position: top left;
    padding: 2 10px;
}

QGroupBox::indicator
{
    background-color: #3C3C3C;
    border: 1px solid #505050;
    width: 9px;
    height: 9px;
}

QGroupBox::indicator:hover
{
    background-color: #3C3C3C;
    border: 1px solid #007ACC;
    width: 9px;
    height: 9px;
}

QGroupBox::indicator:checked
{
    background-color: #007ACC;
    border: 1px solid #505050;
    width: 9px;
    height: 9px;
}

QGroupBox::indicator:pressed
{
    background-color: #004B7E;
    border: 1px solid #007ACC;
    width: 9px;
    height: 9px;
}

QGroupBox::indicator:checked:hover
{
    background-color: #007ACC;
    border: 1px solid #007ACC;
    width: 9px;
    height: 9px;
}

QGroupBox::indicator:checked:pressed
{
    background-color: #004B7E;
    border: 1px solid #007ACC;
    width: 9px;
    height: 9px;
}

QGroupBox:focus
{
    border: 1px solid #007ACC;
}


QAbstractSpinBox
{
    background-color: #3C3C3C;
    border: 1px;
    border-style: solid;
    border-color: #505050;
}

QAbstractSpinBox::disabled
{
    background-color: #444444;
    border: 1px;
    border-style: solid;
    border-color: #444444;
}


QAbstractSpinBox::up-button, QAbstractSpinBox::down-button
{

    background-color: #3C3C3C;
    border: 0px;
}

QAbstractSpinBox::up-button:disabled, QAbstractSpinBox::down-button:disabled
{

    background-color: #444444;
    border: 0px;
}

QAbstractSpinBox::up-arrow
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/cb_up_arrow.png");
    width: 5px;
    height: 5px;
}

QAbstractSpinBox::up-arrow:hover
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/cb_up_arrow_hover.png");
    width: 5px;
    height: 5px;
}

QAbstractSpinBox::up-arrow:pressed
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/cb_up_arrow_pressed.png");
    width: 5px;
    height: 5px;
}

QAbstractSpinBox::up-arrow:disabled
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/cb_up_arrow_disabled.png");
    width: 5px;
    height: 5px;
}

QAbstractSpinBox::down-arrow
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/cb_down_arrow.png");
    width: 5px;
    height: 5px;
}

QAbstractSpinBox::down-arrow:hover
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/cb_down_arrow_hover.png");
    width: 5px;
    height: 5px;
}

QAbstractSpinBox::down-arrow:pressed
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/cb_down_arrow_pressed.png");
    width: 5px;
    height: 5px;
}

QAbstractSpinBox::down-arrow:disabled
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/cb_down_arrow_disabled.png");
    width: 5px;
    height: 5px;
}

QToolTip
{
    color: white;
    border: 1px;
    border-style: solid;
    border-color: #505050;
    background-color: #007ACC;
}

QMenuBar::item
{
    background: transparent;
}

QMenuBar::item:selected
{
    background-color: #505050;
}

QMenuBar::item:pressed
{
    border: 1px solid #505050;
    background-color: #232323;
}

QMenu
{
    border: 1px solid #000000;
}

QMenu::item
{
    padding: 2px 20px 2px 20px;
}

QMenu::item:selected
{
    color: #000000;
}

QAbstractItemView
{
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #4d4d4d, stop: 0.1 #646464, stop: 1 #5d5d5d);
}

QLineEdit
{
    background-color: #3C3C3C;
    padding: 1px;
    border-style: solid;
    border: 1px solid #505050;
}

QPushButton
{
    background-color: #3C3C3C;
    border-width: 1px;
    border-style: solid;
    border-color: #505050;
    padding: 2;
}

QPushButton:hover
{
    background-color: #7C7C7C;
}

QPushButton:pressed
{
    background-color: #007ACC;
}

QPushButton:checked
{
    background-color: #007ACC;
}

QToolButton
{
    background-color: #3C3C3C;
    border-width: 1px;
    border-style: solid;
    border-color: #505050;
    padding: 2;
}

QToolButton:hover
{
    background-color: #7C7C7C;
}

QToolButton:pressed
{
    background-color: #007ACC;
}

QToolButton:checked
{
    background-color: #007ACC;
}

QComboBox
{
    background-color: #3C3C3C;
    image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/qb_down_arrow.png");
    image-position: right;
    padding: 2px 4px 2px 4px;
    border-style: solid;
    border: 1px solid #505050;
}

QComboBox:hover
{
    background-color: #7C7C7C;
    image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/qb_down_arrow_hover.png");
    image-position: right;
    padding: 2px 4px 2px 4px;
}

QComboBox:disabled
{
    image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/qb_down_arrow_disabled.png");
    image-position: right;
    padding: 2px 4px 2px 4px;
}


QComboBox:on
{
    background-color: #007ACC;
    image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/qb_down_arrow.png");
    image-position: right;
    padding: 2px 4px 2px 4px;
}


QComboBox QAbstractItemView
{
    background-color: #232323;
    border: 1px #505050;
    selection-background-color: #7C7C7C;
}


QComboBox::drop-down
{
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 10px;
    border-left-width: 0px;
}

QScrollBar:horizontal
{
    background: #323232;
    height: 18px;
    margin: 0px 16px 0px 16px;
}

QScrollBar::handle:horizontal
{
    background: #7C7C7C;
    margin: 5px 0px 5px 0px
}

QScrollBar::handle:horizontal:hover
{
    background: #969696;
    margin: 5px 0px 5px 0px
}

QScrollBar::handle:horizontal:pressed
{
    background: #C5C5C5;
    margin: 5px 0px 5px 0px
}

QScrollBar::handle:horizontal:disabled
{
    background: transparent;
    margin: 5px 0px 5px 0px
}

QScrollBar::add-line:horizontal
{
    background: #323232;
    width: 16px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal
{
    background: #323232;
    width: 16px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::left-arrow:horizontal
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/sb_horizontal_left_arrow.png");
    width: 10px;
    height: 10px;
    position: center;
}

QScrollBar::left-arrow:horizontal:hover
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/sb_horizontal_left_arrow_hover.png");
    width: 10px;
    height: 10px;
    position: center;
}

QScrollBar::left-arrow:horizontal:pressed
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/sb_horizontal_left_arrow_pressed.png");
    width: 10px;
    height: 10px;
    position: center;
}

QScrollBar::left-arrow:horizontal:disabled
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/sb_horizontal_left_arrow_disabled.png");
    width: 10px;
    height: 10px;
    position: center;
}

QScrollBar::right-arrow:horizontal
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/sb_horizontal_right_arrow.png");
    width: 10px;
    height: 10px;
    position: center;
}

QScrollBar::right-arrow:horizontal:hover
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/sb_horizontal_right_arrow_hover.png");
    width: 10px;
    height: 10px;
    position: center;
}

QScrollBar::right-arrow:horizontal:pressed
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/sb_horizontal_right_arrow_pressed.png");
    width: 10px;
    height: 10px;
    position: center;
}

QScrollBar::right-arrow:horizontal:disabled
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/sb_horizontal_right_arrow_disabled.png");
    width: 10px;
    height: 10px;
    position: center;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal
{
      background: none;
}

QScrollBar:vertical
{
    background: #323232;
    width: 18px;
    margin: 16px 0 16px 0;
}

QScrollBar::handle:vertical
{
    background: #7C7C7C;
    margin: 0px 5px 0px 5px
}

QScrollBar::handle:vertical:hover
{
    background: #969696;
    margin: 0px 5px 0px 5px
}

QScrollBar::handle:vertical:pressed
{
    background: #C5C5C5;
    margin: 0px 5px 0px 5px
}

QScrollBar::handle:vertical:disabled
{
    background: transparent;
    margin: 0px 5px 0px 5px
}

QScrollBar::add-line:vertical
{
    background: #323232;
    height: 16px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical
{
    background: #323232;
    height: 16px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::down-arrow:vertical
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/sb_vertical_down_arrow.png");
    width: 10px;
    height: 10px;
    position: center;
}

QScrollBar::down-arrow:vertical:hover
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/sb_vertical_down_arrow_hover.png");
    width: 10px;
    height: 10px;
    position: center;
}

QScrollBar::down-arrow:vertical:disabled
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/sb_vertical_down_arrow_disabled.png");
    width: 10px;
    height: 10px;
    position: center;
}

QScrollBar::up-arrow:vertical
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/sb_vertical_up_arrow.png");
    width: 10px;
    height: 10px;
    position: center;
}

QScrollBar::up-arrow:vertical:hover
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/sb_vertical_up_arrow_hover.png");
    width: 10px;
    height: 10px;
    position: center;
}

QScrollBar::up-arrow:vertical:pressed
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/sb_vertical_up_arrow_pressed.png");
    width: 10px;
    height: 10px;
    position: center;
}

QScrollBar::up-arrow:vertical:disabled
{
    background-image: url("E:/Work/GitHub/mypytools/python/cell_compare/core/gui/themes/dark/images/sb_vertical_up_arrow_disabled.png");
    width: 10px;
    height: 10px;
    position: center;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical
{
    background: none;
}

QHeaderView::section
{
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #616161, stop: 0.5 #505050, stop: 0.6 #434343, stop:1 #656565);
    color: white;
    padding-left: 4px;
    border: 1px solid #6c6c6c;
}

QDockWidget::title
{
    text-align: center;
    spacing: 3px; /* spacing between items in the tool bar */
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #323232, stop: 0.5 #242424, stop:1 #323232);
}

QDockWidget::close-button, QDockWidget::float-button
{
    text-align: center;
    spacing: 1px; /* spacing between items in the tool bar */
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #323232, stop: 0.5 #242424, stop:1 #323232);
}

QDockWidget::close-button:hover, QDockWidget::float-button:hover
{
    background: #242424;
}

QDockWidget::close-button:pressed, QDockWidget::float-button:pressed
{
    padding: 1px -1px -1px 1px;
}

QMainWindow::separator
{
    color: #505050;
    padding-left: 4px;
    border: 1px solid #505050;
    spacing: 3px;
}

QMainWindow::separator:hover
{

    background-color: #007ACC;
    color: white;
    padding-left: 4px;
    border: 1px solid #505050;
    spacing: 3px;
}

QToolBar::handle
{
     spacing: 3px;
}


QMenu::separator
{
    height: 2px;
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #161616, stop: 0.5 #151515, stop: 0.6 #212121, stop:1 #343434);
    color: white;
    padding-left: 4px;
    margin-left: 10px;
    margin-right: 5px;
}

QProgressBar
{
    border: 1px solid #505050;
    text-align: center;
}

QProgressBar::chunk
{
    background-color: #007ACC;
    width: 2.15px;
    margin: 0.5px;
}

/*
QTabBar::tab {
    border: 1px solid #505050;
    border-bottom-style: none;
    background-color: #323232;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 2px;
    margin-right: -1px;
}

QTabWidget::pane {
    border: 1px solid #444;
    top: 1px;
}

QTabBar::tab:last
{
    margin-right: 0;
    border-top-right-radius: 3px;
}

QTabBar::tab:first:!selected
{
    margin-left: 0px;
    border-top-left-radius: 3px;
}

QTabBar::tab:!selected
{
    color: #B1B1B1;
    border-bottom-style: solid;
    margin-top: 3px;
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:1 #212121, stop:.4 #343434);
}

QTabBar::tab:selected
{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-bottom: 0px;
}

QTabBar::tab:!selected:hover
{
    border-top: 2px solid #007ACC;
    padding-bottom: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:1 #212121, stop:0.4 #343434, stop:0.2 #343434, stop:0.1 #007ACC);
}
*/

QTabWidget::pane { /* The tab widget frame */
    border-top: 1px solid #505050;
    margin: 0px 0px 0px 0px;
}

QTabWidget::tab-bar {
    left: 0px; /* move to the right by 5px */
}

QTabBar:focus {
    border: 0px;
}

/* Style the tab using the tab sub-control. Note that
    it reads QTabBar _not_ QTabWidget */
QTabBar::tab {
    background: transparent;
    border: 1px solid #505050;
    border-bottom-color: #505050; /* same as the pane color */
    min-width: 8ex;
    padding: 2px;
}

QTabBar::tab:selected, QTabBar::tab:hover {
    background-color: #505050;
}

QTabBar::tab:selected {
    border-color: #9B9B9B;
    border-bottom-color: #C2C7CB; /* same as pane color */
}

QTabBar::tab:!selected {
    margin-top: 2px; /* make non-selected tabs look smaller */
}

QCheckBox:disabled
{
    background-color: transparent;
    border: 0px;
}

QCheckBox:focus
{
    background-color: transparent;
    border: 0px;
}

QCheckBox::indicator
{
    background-color: #3C3C3C;
    border: 1px solid #505050;
    width: 9px;
    height: 9px;
}

QCheckBox::indicator:hover
{
    background-color: #3C3C3C;
    border: 1px solid #007ACC;
    width: 9px;
    height: 9px;
}

QCheckBox::indicator:checked
{
    background-color: #007ACC;
    border: 1px solid #505050;
    width: 9px;
    height: 9px;
}

QCheckBox::indicator:pressed
{
    background-color: #004B7E;
    border: 1px solid #007ACC;
    width: 9px;
    height: 9px;
}

QCheckBox::indicator:disabled
{
    background-color: transparent;
    border: 1px solid #4A4A4A;
    width: 9px;
    height: 9px;
}

QCheckBox::indicator:checked:hover
{
    background-color: #007ACC;
    border: 1px solid #007ACC;
    width: 9px;
    height: 9px;
}

QCheckBox::indicator:checked:pressed
{
    background-color: #004B7E;
    border: 1px solid #007ACC;
    width: 9px;
    height: 9px;
}

QRadioButton:focus
{
    background-color: transparent;
    border: 0px;
}

QRadioButton:disabled
{
    background-color: transparent;
    border: 0px;
}

QRadioButton::indicator
{
    background-color: #3C3C3C;
    border: 1px solid #505050;
    border-radius: 6px;
}

QRadioButton::indicator:hover
{
    background-color: #3C3C3C;
    border: 1px solid #007ACC;
    border-radius: 6px;
}

QRadioButton::indicator:checked
{
    background-color: #007ACC;
    border: 1px solid #505050;
    border-radius: 6px;
}

QRadioButton::indicator:pressed
{
    background-color: #004B7E;
    border: 1px solid #007ACC;
    border-radius: 6px;
}

QRadioButton::indicator:disabled
{
    background-color: transparent;
    border: 1px solid #4A4A4A;
    border-radius: 6px;
}

QRadioButton::indicator:checked:hover
{
    background-color: #007ACC;
    border: 1px solid #007ACC;
    border-radius: 6px;
}

QRadioButton::indicator:checked:pressed
{
    background-color: #004B7E;
    border: 1px solid #007ACC;
    border-radius: 6px;
}

QToolBox::tab
{
    border: 1px solid #505050;
}

QToolBox::tab:hover
{
    border: 1px solid #007ACC;
}

QToolBox::tab:selected
{
    border: 1px solid #505050;
    font: italic;
}

QToolBox::tab:selected:hover
{
    border: 1px solid #505050;
    font: italic;
    color: #007ACC;
}